* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 380px;
    background: white;
    padding: 25px 28px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #2E5939;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D4AF37;
    border-radius: 8px;
    outline: none;
}

.input-group input:focus {
    border-color: #2E5939;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #2E5939;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #244a30;
}

.lien-login {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

.lien-login a {
    color: #D4AF37;
    font-weight: bold;
    text-decoration: none;
}
